@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&display=swap');


/* ----------------------------- mobile version ----------------------------- */
#inner_box{
	width: 100%;
	height: 325vw;
	height: calc(var(--vw, 1vw)* 325);
	margin-top: -1vw;
}

/* -------------------------------------------------------------------------- */
/*                               slideshow modal                              */
/* -------------------------------------------------------------------------- */

.modal{


	position: fixed;
	z-index: 100;
	padding-top: 0vw;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

	background-color: rgba(0,0,0,.9);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;


}
	.modal img{
		height: auto;
		width: 90vw;
	}



/*	buttons on pop up bigger pic */
.popButtons{
	position: fixed;
	z-index: 100;
	padding-top: 0vw;
	left: 0;
	top: 0;
}
		.popupNext{
			position: fixed;
			z-index: 101;
			margin-top: 85vh;
			margin-left:85vw;

		}
		.popupBack{
			position: absolute;
			z-index: 101;
			margin-top: 85vh;
			margin-left: 10vw;

		}

/* -------------------------------------------------------------------------- */
/*                             commission section                             */
/* -------------------------------------------------------------------------- */
#commission_container{
	/* background-color: orange; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: auto;
}

	/* -------------------------------------------------------------------------- */
	/*                        photos and commission heading                       */
	/* -------------------------------------------------------------------------- */
	#photosANDheading{
		/* holding heading and slideshow */
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		/* background-color: lightgreen; */
		height: auto;
		width: 100%;
	}
		#top_heading{
			display: none;
		}
		#bottom_heading{
			display: block;
		}
		.heading{
			/* holding commission and estimate_link */
			display: flex;
			flex-direction: column;
			text-align: center;
			height: auto;
			width: auto;
		}
			#commission{
				font-family: 'Amatic SC', cursive;
				font-size: 7vw;
/*				font-weight: 700;*/
/*				font weight was messing up the alignment on mobile*/
				font-size: 8vw;
				z-index: 10; /* above bar */
				color: #ff7800;
			}
			#commission_bar{
				background-color:black;
				height: 9vw;
				width: 90vw;
				border-radius: .5vw;
				margin: -9vw auto auto -15vw;
				z-index: 1; /* below commission order title */

			}
			#estimate_link{
				margin: 2vw auto auto auto;
			}
			#estimate_link a{
				font-size: 4vw;
				text-decoration: none;
				color: black;
			}
			#estimate_link a:hover{
				color: #ff7800;
			}
		#slideshow{
			/* holding pic and slide buttons */
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 1vw 0 0 0;
			height: 60vw;
			width: 100vw;
			padding: 3vw;
		}
			#portrait{
				/* holds the pics */
				display: flex;
				flex-direction: row;
				justify-content: center;
				height: 100%;
				width: 200%;
				/* background-color: yellow; */
				z-index: 1; /* below buttons */
			}
				.pics {
					height: 100%;
					width: auto;
				}
			.slide_button{
				font-size: 7vw;
				border-radius: 0%;
				font-family: 'Josefin Slab', serif;
				font-weight: 700;
				color: #ffffff;
				border: 0;
				background-color: #000000;

				padding: 0 1vw 0 1vw;
				height: 7.5vw;

				z-index: 10; /* above pics */

			}
			.prev{
				margin-right: -2vw;
			}
			.next{
				margin-left: -2vw;
			}
				.slide_button:hover{
					color: #ffffff;
					background-color: #ff7800;
					cursor: pointer;
				}

		/* -------------------------------------------------------------------------- 
		/*                            commission email form                           */
		/* -------------------------------------------------------------------------- */
		input[name="_honey"] {
			display: none;
		}
		#email_box{
			width: 90%;
			height: 85vw;
			font-size: 4vw;
			z-index: 1; /*same as phone (drawing)*/
			margin: 5vw auto auto 5vw;
		}
			#email_box input{
				width: 100%;
				height: 8vw;
				margin-top: 1vw;
				margin-bottom: 1vw;
				font-size: 4vw;
				font-family: 'Josefin Slab', serif;
				padding: .5vw .1vw 0 1vw;;
			}
				#email_box textarea{
					width: 100%;
					height: 24vw;
					margin-top: 1vw;
					margin-bottom: 0;
					font-size: 4vw;
					font-family: 'Josefin Slab', serif;
					padding: 1.5vw .1vw 0 1vw;
				}
				#buttons{
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-items: center;
					width:100%;
					height: 9vw;
					margin: 2.5vw 0 2vw 0;
				}
					#email_box button{
						background-color: black;
						border-radius: 0;
						border: 0;
						padding-left: 1.5vw;
						padding-right: 1.5vw;
						color: white;
						font-family: 'Amatic SC', cursive;
						font-size: 8vw;
					}
						#email_box button:hover{
							background-color: #ff7800;
							cursor: pointer;
						}
					.attach{
						margin: 0 2vw 0 auto;
					}
					#uploaded{
						display: flex;
						flex-direction: row;
						width: 25vw;
						height: 10vw;
					}
						#clip{
							display: none;
							height: 4vw;
							margin-top: -1.5vw;
							z-index: 10; /* above output_image */
						}
						#output_image{
							max-height: 100%;
							margin-left: -2.5vw;
							z-index: 1; /* below clip */
							
						}


/* -------------------------------------------------------------------------- */
/*                              estimate section                              */
/* -------------------------------------------------------------------------- */
#estimate_container{
	width: 100%;
	height: 145vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 5vw;
	
}
	/* estimate heading */
	#estimate_bar{
		background-color:#ffddc7;
		height: 9vw;
		width: 90vw;
		margin: 4vw 0vw 4vw auto;
		border-radius: .5vw;
		
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
		#estimate_header{
			font-family: 'Amatic SC', cursive;
			font-size: 7vw;
			font-weight: 700;
			font-size: 8vw;
			color: black;
			margin-left: .5vw;
		}

	/* estimate doodles and calculation area */
	#estimate_content{
		height: auto;
		width: 90%;


		display: flex;
		flex-direction: column;

		justify-content: center;

	}
		#one_doodle_box{
			/* hide the image for the mobile version */
			display: block;

			width: 85%;
			height: auto;

			margin: 0 0 0 15%;

			z-index: 1; /* below calc box */
		}
			#one_doodle_box img{
				width: 100%;
				height: auto;
			}
		#left_doodle_box{
			display: none;

			width: 30%;

			margin-right: -30vw;

			z-index: 1; /* below calc box */
		}
			#left_doodle_box img{
				width: 100%;
				height: auto;
			}
		#right_doodle_box{
			display: none;

			width: 30%;

			margin: 16% 0 0 -5vw;

			z-index: 1; /* below calc box */

		}
			#right_doodle_box img{
				width: 100%;
				height: auto;
			}

		#calc_box{
			width: 65%;
			height: 37vw;

			margin: -45% 0 0 0;

			z-index: 2; /* above doodles */

			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
			#calc_inputs{
				/* background-color: orange; */

				width: 100%;
				height: auto;

				display: flex;
				flex-direction: row;

				justify-content: flex-start;
				align-items: center;


			}
				#calc_inputs input{
					font-family: 'Josefin Slab', serif;
					width: 10vw;
					height: 8vw;
					font-size: 4vw;
					text-align: center;
				}
				#calc_inputs div{
					font-family: 'Josefin Slab', serif;
					font-size: 4vw;
					margin: 0 3vw 0 3vw;
				}
			#estimate_bttn{
				background-color: black;
				border-radius: 0;
				border: 0;
				color: white;
				font-family: 'Amatic SC', cursive;
				font-size: 8vw;
				height: 9vw;
				width: 35vw;
				display: flex;
				justify-content: center;
				align-items: center;

				margin: 3vw 0 3vw 0;

			}
				#estimate_bttn:hover{
					background-color: #ff7800;
					cursor: pointer;
				}
			#output_price{
				font-size: 8vw;
			}
			#output_info{
				font-size: 4vw;
			}



/* ------------------------------ desktop below ----------------------------- */
@media (min-width: 992px), (orientation: landscape) {
	#inner_box{
		width: 100%;
		height: 150vw;
		margin-top: -1vw;
	}

	/* -------------------------------------------------------------------------- */
	/*                               slideshow modal                              */
	/* -------------------------------------------------------------------------- */

	.modal{


		position: fixed;
		z-index: 100;
		padding-top: 0vw;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;

		background-color: rgba(0,0,0,.9);

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

	}
		.modal img{
			height: 90vh;
			width: auto;
		}

		/*	buttons on pop up bigger pic */
.popButtons{
	position: fixed;
	z-index: 100;
	padding-top: 0vw;
	left: 0;
	top: 0;
}
		.popupNext{
			position: fixed;
			z-index: 101;
			margin-top: 27vw;
			margin-left:85vw;

		}
		.popupBack{
			position: absolute;
			z-index: 101;
			margin-top: 27vw;
			margin-left: 10vw;

		}

	
	/* -------------------------------------------------------------------------- */
	/*                             commission section                             */
	/* -------------------------------------------------------------------------- */
	#commission_container{
		/* background-color: orange; */
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		height: 45vw;
	}

		/* -------------------------------------------------------------------------- */
		/*                        photos and commission heading                       */
		/* -------------------------------------------------------------------------- */
		#photosANDheading{
			/* holding heading and slideshow */
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			/* background-color: lightgreen; */
			height: 100%;
			width: 53vw;
		}
			#top_heading{
				display: block;
			}
			#bottom_heading{
				display: none;
			}
			.heading{
				/* holding commission and estimate_link */
				display: flex;
				flex-direction: column;
				text-align: center;
				height: auto;
				width: auto;
				/* background-color: powderblue; */
			}
				#commission{
					font-family: 'Amatic SC', cursive;
				
					font-size: 4vw;
					z-index: 10; /* above bar */
					color: #ff7800;
				}
				#commission_bar{
					background-color:black;
					height: 4.5vw;
					width: 48vw;
					border-radius: .5vw;
					margin: -4.5vw auto auto -10vw;
					z-index: 1; /* below commission order title */

				}
				#estimate_link{
					margin: 1vw auto auto auto;
				}
				#estimate_link a{
					font-size: 2vw;
					text-decoration: none;
					color: black;
				}
				#estimate_link a:hover{
					color: #ff7800;
				}
			#slideshow{
				/* holding pic and slide buttons */
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin: 1vw 0 0 0;
				/* background-color: pink; */
				height: 30vw;
				width: 50vw;
				padding: 0;
			}
				#portrait{
					/* holds the pics */
					display: flex;
					flex-direction: row;
					justify-content: center;
					height: 100%;
					width: 200%;
					/* background-color: yellow; */
					z-index: 1; /* below buttons */
				}
					.pics {
						height: 100%;
						width: auto;
					}
				.slide_button{
					font-size: 3vw;
					border-radius: 0%;
					font-family: 'Josefin Slab', serif;
					font-weight: 700;
					color: #ffffff;
					border: 0;
					background-color: #000000;

					padding: 0 .5vw 0 .5vw;
					height: 3.5vw;

					z-index: 10; /* above pics */
				}
				.prev{
					margin-right: -2vw;
				}
				.next{
					margin-left: -2vw;
				}
					.slide_button:hover{
						color: #ffffff;
						background-color: #ff7800;
						cursor: pointer;
					}
			
			/* -------------------------------------------------------------------------- */
			/*                            commission email form                           */
			/* -------------------------------------------------------------------------- */
			input[name="_honey"] {
				display: none;
			}
			#email_box{
				width: 46vw;
				height: 43.5vw;
				font-size: 2vw;
				z-index: 1; /*same as phone (drawing)*/
				margin: 1.2vw auto auto 2vw;
			}
				#email_box input{
					width: 95%;
					height: 4vw;
					margin-top: .5vw;
					margin-bottom: 1vw;
					font-size: 2vw;
					font-family: 'Josefin Slab', serif;
					padding: 0 .1vw 0px 1vw;;
				}
					#email_box textarea{
						width: 95%;
						height: 12vw;
						margin-top: .5vw;
						margin-bottom: 0;
						font-size: 2vw;
						font-family: 'Josefin Slab', serif;
						padding: 1vw .1vw 0 1vw;
					}
					#buttons{
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						width:95%;
						height: 4vw;
						margin: 1vw 0 0 0;
					}
						#email_box button{
							background-color: black;
							border-radius: 0;
							border: 0;
							padding-left: 1vw;
							padding-right: 1vw;
							color: white;
							font-family: 'Amatic SC', cursive;
							font-size: 3vw;

						}
							#email_box button:hover{
								background-color: #ff7800;
								cursor: pointer;
							}
						.attach{
							margin: 0 2vw 0 auto;
						}
						#uploaded{
							display: flex;
							flex-direction: row;
							width: 15vw;
							height: 4vw;
						}
							#clip{
								display: none;
								height: 1.5vw;
								margin-top: -.5vw;
								z-index: 10; /* above output_image */
							}
							#output_image{
								max-height: 100%;
								margin-left: -1vw;
								z-index: 1; /* below clip */
								
							}


	/* -------------------------------------------------------------------------- */
	/*                              estimate section                              */
	/* -------------------------------------------------------------------------- */
	#estimate_container{
		width: 100%;
		height: 105vw;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
		/* estimate heading */
		#estimate_bar{
			background-color:#ffddc7;
			height: 4.5vw;
			width: 95%;
			margin: 2vw auto 2vw auto;
			border-radius: .5vw;
			
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}
			#estimate_header{
				font-family: 'Amatic SC', cursive;
				font-size: 7vw;
				font-weight: 700;
				font-size: 4vw;
				color: black;
				margin-left: .5vw;
			}

		/* estimate doodles and calculation area */
		#estimate_content{
			height: 73.5vw;
			width: 100%;

			display: flex;
			flex-direction: row;

			justify-content: center;


		}
			#one_doodle_box{
				/* hide the image for the mobile version */
				display: none;
				
			}
			#left_doodle_box{
				display: block;

				width: 30%;

				margin-right: -30vw;

				z-index: 1; /* below calc box */
			}
				#left_doodle_box img{
					width: 100%;
					height: auto;
				}
			#right_doodle_box{
				display: block;

				width: 30%;

				margin: 16% 0 0 -5vw;

				z-index: 1; /* below calc box */

			}
				#right_doodle_box img{
					width: 100%;
					height: auto;
				}

			#calc_box{
				/* background-color: lightpink; */

				width: 32%;
				height: 30%;

				margin: 20% 0 0 16vw;

				z-index: 2; /* above doodles */

				display: flex;
				flex-direction: column;
				align-items: flex-start;

			}
				#calc_inputs{
					/* background-color: orange; */

					width: 100%;
					height: auto;

					display: flex;
					flex-direction: row;

					justify-content: space-between;
					align-items: center;


				}
					#calc_inputs input{
						font-family: 'Josefin Slab', serif;
						width: 6vw;
						height: 4vw;
						font-size: 3vw;
						text-align: center;
					}
					#calc_inputs div{
						font-family: 'Josefin Slab', serif;
						font-size: 3vw;
						margin: 0;
					}
				#estimate_bttn{
					background-color: black;
					border-radius: 0;
					border: 0;
					color: white;
					font-family: 'Amatic SC', cursive;
					font-size: 3vw;
					height: 4vw;
					width: 13vw;
					display: flex;
					justify-content: center;
					align-items: center;

					margin: 2vw 0 2vw 0;

				}
					#estimate_bttn:hover{
						background-color: #ff7800;
						cursor: pointer;
					}
				#output_price{
					font-size: 3vw;
				}
				#output_info{
					font-size: 1.5vw;
				}

	
}
