/* general every-page style */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
/*the above is so input boxes do not exceed 
their parent containers when they have padding*/

body{
	font-family: 'Josefin Slab', serif;
	margin: 0px;
	font-size: 98pt; /*the font size that all font percentages will be referencing*/
}
#box{ /*this is for the header and nav bar only*/
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	margin-bottom: 4vh;
}
#nav {
	position: relative;
	font-family: 'Amatic SC', cursive;
	font-size: 8.8vw;
	text-align: center;
	font-weight: 700;
	margin-right: 13.5vw;
	margin-left: auto;
	margin-top: .49vw;
}
#nav a{
	color: black;
	text-decoration: none;
}
#nav #artwork{
	margin-right: 1.5vw;
}
#nav #shop{
	margin-right: 1.8vw;
	margin-left: 1.5vw;
}
#nav #contact{
	margin-left: 1.7vw;
}
#nav img{
	height: 1.75vw;
	margin-bottom: 1.7vw;
}
#nav a:hover {
		color: #ff7800;
}
#nav .page_title{
	color: #ff7800;
}
#annie {
	position: relative;
	text-align: center;
	font-size: 19.2vw;
	font-family: 'Amatic SC', cursive;
	font-weight: 400;
}
.bar1 {
	position: absolute;
	background-color: #ffddc7;
	height: 8.4vw;
	width: 95vw;
	border-radius: 1vw;
	right: 0;
	top: 9vw;

}
.bar2 {
	width: 88vw;
	left: 0;
	top: 26.5vw;
}
.corners{
	border-radius: 0px;
	width: 10%;
}
#inner_box{
	min-height: 100%;
    padding-bottom: 15vw;
}
#footer{
	position: static;
	text-align: center;
	font-size: 4vw;
	width: 100%;
	bottom:0;
	padding-bottom: 1vw;
}

@media (min-width: 992px), (orientation: landscape) {
	#box{
		display: grid;
		grid-template-areas: 
		'annie nav';
	}
	#nav {
		position: relative;
		font-family: 'Amatic SC', cursive;
		font-size: 3.8vw;
		font-weight: 700;
		margin-top: 3.8vw;
		margin-left: auto;
		margin-right: 2.3vw;
		display: grid;
		grid-template-areas: 'artwork dot1 shop dot2 contact';
	}
	#nav a{
		color: black;
		text-decoration: none;
	}
	#nav #artwork{
		margin: 0px/*top*/ 2.5vw/*right*/ 0px/*bottom*/ 0px/*left*/;
	}
	#nav #shop{
		margin: 0px/*top*/ 2.5vw/*right*/ 0px/*bottom*/ 2.5vw/*left*/;
	}
	#nav #contact{
		margin: 0px/*top*/ 0vw/*right*/ 0px/*bottom*/ 2.5vw/*left*/;
	}
	#nav img{
		height: .8vw;
		margin-top: 2.1vw;
	}
	#nav a:hover {
			color: #ff7800;
	}
	#nav #page_title{
		color: #ff7800;
	}
	#annie {
		position: relative;
		text-align: left;
		margin-left: 2vw;
		font-size: 9.5vw;
		font-family: 'Amatic SC', cursive;
		font-weight: 400;
	}
	.bar1 {
		position: absolute;
		background-color: #ffddc7;
		height: 4.2vw;
		width: 97vw;
		border-radius: .35vw;
		right: 1.5vw;
		top: 4.3vw;

	}
	.bar2 {
		background-color: #ffddc700;/*completely transparent*/
	}
	.corners{
		background-color: #ffddc700;/*completely transparent*/

	}
	#footer{
		font-size: 1.5vw;
	}
}